# Dependencies
node_modules/
**/node_modules/
vendor/
**/vendor/

# Expo & React Native build files
.expo/
**/dist/
android/app/build/
android/.gradle/
android/build/
**/android/app/build/
**/android/.gradle/
**/android/build/
*.apk
*.aab

# Laravel & Backend
.env
**/grov-backend/.env
storage/*.key
**/storage/logs/*.log
**/bootstrap/cache/*.php

# IDE & OS
.DS_Store
*.log
.vscode/
.idea/
.claude/
